# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.SlapKnight_Legacy.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Johan.Liljedahl\Documents\Unreal Projects\SlapKnight_Legacy\.idea\.idea.SlapKnight_Legacy\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
